{% extends 'generic_panel.html' %}

{% block panel_title %}Committee Member Allocation Leaderboard{% endblock %}

{% block panel_content %}
	<table class="table table-condensed" >
		<thead>
			<th>User</th>
			<th>Total Keys Allocated</th>
		</thead>
		<tbody>
			{% for user in users %}
                {% if user.is_superuser %}
			        <tr>
			        	<td>{{ user.full_name }}</td>
			        	<td>{{ user.keys_allocated_by.count }}</td>
			        </tr>
                {% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}