{% extends 'generic_list.html' %}

{% load bootstrap3 %}
{% load collectiontools %}
{% load policytools %}

{% block site_title %}List of Policies{% endblock %}
{% block body_title %}List of Policies{% endblock %}

{% block add_url %}{% url 'policy:write' %}{% endblock %}

{% block custom_buttons_after %}
<a id="agenda_link" class="btn btn-default"> {% bootstrap_icon 'list-alt' %} Generate Agenda Text</a>
{% endblock %}

{% block list %}
	<thead>
		<th class="col-md-5">Name</th>
		<th class="col-md-3">Status</th>
		<th class="col-md-3">Submitted By</th>
		<th></th>
	</thead>
	<tbody>
		{% for object in object_list %}
			<tr>
				<th><a href="{% url 'policy:info' object.id %}">{{ object.name }}</a> <span class="clickable active" data-toggle="collapse" id="policy-{{ object.id }}" data-target=".policy-{{ object.id }}-collapsed">{% bootstrap_icon "circle-arrow-down" %}</span></th>
				<td>{{ object.status.get_status_display|policy_status_pretty }}</td>
				<td>—</td>
				<td>
					<a class="btn btn-default btn-sm" data-toggle="tooltip" title="Amend Policy" href="{% url 'policy:amend' object.id %}">{% bootstrap_icon 'file' %}</a>
				</td>
			</tr>

			{% for revision in object.revision_set.all %}
				<tr class="collapse policy-{{ object.id }}-collapsed">
					<td><a href="{% url 'policy:revision_info' revision.id %}">{{ revision.change }}</a></td>
					<td>{{ revision.status.get_status_display|policy_status_pretty }}</td>
					<td>{{ revision.submitters.all|join:", " }}</td>
					<td>
						<a class="btn btn-default btn-sm" href="{% url 'policy:update_status' revision.id %}">{% bootstrap_icon "pencil" %}</a>
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
	
{% endblock %}

{% block custom_table %}
	table-hover table-condensed
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	$('[data-toggle="tooltip"]').tooltip()
</script>

<script type="text/javascript">
	// Popup window code
	function newPopup(url) {
		popupWindow = window.open(
			url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
	}
	$(document).ready(function() {
		function newPopup(url) {
			popupWindow = window.open(
			url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
		}

		$("#agenda_link").click(function() {
			newPopup("{% url 'policy:agenda' %}");
		});
	});
</script>
{% endblock %}