{% extends "generic_detail.html" %}
{% load display_pair %}
{% load nicebool %}

{% block noedit %}{% endblock %}
{% block nodelete %}{% endblock %}
{% block nolist %}{% endblock %}

{% block custom_buttons_before %}
	{% if object.allocated_to %}
		<form id="email-form" style="display: none;" method="post" action="{% url 'keys:email' object.id %}">
			{% csrf_token %}
			<button type='submit' class="button">
				Email key to {{ object.allocated_to }}
			</button>
		</form>

		<button class="button" onclick="$('#email-form').submit();">
			Email key to {{ object.allocated_to }}
		</button>
	{% endif %}
{% endblock %}

{% block detail %}
	<h2>General Information</h2>
	<ul>
	{{ object.key|display_pair:'Key' }}
	{{ object.sku.product|display_pair:"Product" }}
	{{ object.sku|display_pair:"SKU" }}
  </ul>

	<h2>Allocation</h2>
	<ul>
	{{ object.allocated_to|display_pair:"Allocated to" }}
  </ul>

	<h2>Audit Trail</h2>
	<ul>
	{{ object.allocated_at|date:"N jS 'y - g:i a"|display_pair:"Allocated at" }}
	{{ object.allocated_by|display_pair:"Allocated by" }}
	{{ object.imported_at|date:"N jS 'y - g:i a"|display_pair:"Imported at" }}
	{{ object.imported_by|display_pair:"Imported by" }}
  </ul>
{% endblock %}
