/* Base elements */

body {
  background-color: #DDD;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#site-name {
  text-align: center;
  text
}

#wrap {
  background-color: #FFF;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  padding: 1%;
  border: 1px #000 dashed;
}

/* Forms */

form li {
  list-style-type: none;
  line-height: 2.5em;
}

form label {
  display: inline;
}

form .field {
  display: inline;
}
