{% extends "generic_list.html" %}

{% load bootstrap3 %}
{% load nicebool %}
{% load staticfiles %}

{% block add_url %}{% url 'keys:product-add' %}{% endblock %}

{% block custom_buttons_after %}
	<button class="btn btn-default" onclick="loadFile('#id_keyfile');">{% bootstrap_icon "cloud-upload" %} Import XML file</button>
	<a href="{% url 'keys:sku-add' %}" class="btn btn-default">{% bootstrap_icon 'plus' %} Add SKU</a>
	<a href="{% url 'keys:allocate' %}" class="btn btn-default">{% bootstrap_icon 'user' %} Allocate</a>
	<div class="hidden">
		<form id="key-form" action="{% url 'keys:upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input id="id_keyfile" name="keyfile" accept="text/xml" onchange="submitFile('#key-form');" type="file" />
			<input type="submit" class="btn btn-default" />
		</form>
	</div>
{% endblock %}

{% block list %}
<thead>
	<th>Product</th>
	<th>SKUs</th>
	<th>Keys</th>
	<th>Remaining</th>
</thead>
<tbody>
	{% for product in object_list %}
		<tr>
			<td><a href="{{ product.get_absolute_url }}">{{ product }}</td>
			<td>{{ product.sku_set.all|join:', ' }}</td>
			<td>{{ product.total_keys }}</td>
			<td>{{ product.total_unallocated_keys }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td><strong>Total</strong></td>
		<td>-</td>
		<td>{{ total_keys }}</td>
		<td>{{ total_unallocated_keys }}</td>
	</tr>
</tbody>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/Upload.js' %}">

</script>
{% endblock %}