{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block site_title %}Example{% endblock %} - theoffice</title>

    <link rel="icon" typ6e="image/png" href="{% static 'img/comssa_logo_128.png' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <!-- Page-specific CSS -->
    {% block custom_css %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body>
  <div id="wrap">
    <h1 id="site-name">the<b>office</b></h1>
    <hr />
    <div id="nav">
      [ <a>log in</a> ]
    </div>
    <hr />
    <h1>{% block body_title %}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
    <hr />
    <div id="footer">
      <span>&copy; {% now 'Y' %} <a href="https://comssa.org.au">ComSSA</a>.
        Available on <a href="https://github.com/comssa/theoffice">GitHub</a>.
        Hacked together by <a href="http://kye.id.au">Kye</a>.
      <span>
    </div>
    <!-- Page-specific Javascript -->
    {% block custom_js %}
    {% endblock %}
  </div>
</body>
</html>
